body {
    margin:0;
}

@font-face {
      font-family: "WildFlowerBold";  
      src: url('../font/WildFlowerBold.ttf'); 
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/fdb.jpg");
    background-size: cover; 
    background-attachment: fixed;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    position: fixed;
    width: 100vw;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

li {
    font-family: "Montserrat";
    color: #517f41;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

#burger {
    visibility: hidden;
}

nav h1 {
    font-family: "WildFlowerBold";
    color: #517f41;
    font-size: 2em;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}
header div h1 {
    font-family: 'Dancing Script', cursive;
    color: white;
    border:3px dotted white;
    padding: 10px;
    background-color: rgba(81, 127, 65, 0.50);

}

main h1 {
    text-align: center;
    font-family: "Courgette", cursive;
    color: #517f41;
}

main p {
    text-align: justify;
}

main .col-sm {
    text-align: center;
}

main i {
    color: #517f417d;
}
#slogan
{
    height:50vh;
    width: 100vw;
    background-image: url("../img/bg3.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

}

#slogan div {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 2px dotted white;
background-color:  rgba(81, 127, 65, 0.50);
padding: 10px;

}

#slogan div h1 {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 20pt;
}

#team {
    text-align: center;
}

#team img {
    height: 15vw;
    width: 15vw;
    text-align: center;
    border-radius: 15vw;  
    border: solid 5px #517f41; 
}

#team figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#team figure div {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-out ;
    height: 13vw;
    width: 13vw;
    border-radius: 50%;
    background-color:  rgba(81, 127, 65, 0.50);
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: white;
}

#team figure div:hover {
    opacity: 1;
}

#team h1 {
    font-family: "Courgette", cursive;
    color: #517f41;
}

#team h4 {
    font-family: "Courgette", cursive;
    color: black;
}

#team h6 {
    font-family: "Montserrat";
}

#slider {
    width: 100vw;
    background-image: url("../img/bg2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#slider ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#slider li {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#quams {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;   
    padding: 10px;
}

#quams h1 {
    font-family: "Courgette", cursive;
    color: #517f41;
}

#quams img {
    height: 20vw;
    width: 20vw;
    margin: 10px;

}

footer {
    height:60vh;
    width: 100vw;
    background-color:  rgba(81, 127, 65, 0.50);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer h1 {
    border: dotted 2px white;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: "Montserrat";
}

.shake:hover{ 
    animation: shake 100ms infinite;
    animation-timing-function: linear;   
  }
  
  @keyframes shake {
    0% { transform: rotate(0.5deg); }
    50% { transform: rotate(-0.5deg); }
    100% { transform: rotate(0.5deg); }
  }

  @media (max-width: 750px) 
  {
 nav ul {
     visibility: hidden;
 }
  
 #burger {
     visibility: visible;
    
 }

#team img {
    height: 50vw;
    width: 50vw;
    border-radius: 50vw;  
    border: solid 10px #517f41; 
}

#quams img {
    height: 60vw;
    width: 60vw;

}


  }


